.ChangePassword {
    padding: 10px;
    background-image: url(image/settings.gif);
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.ChangePassword hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ChangePassword form {
    max-width: 400px;
    margin: 0 auto;
    height: 665px;
}

.ChangePassword .form-group {
    margin-bottom: 20px;
}

.ChangePassword .form-label {
    font-weight: bold;
}

.ChangePassword .form-control {
    width: 100%;
}

.ChangePassword .loader-button {
    background-color: #28a745; /* Green background color */
    color: #fff; /* White text color */
    border: none;
}

.ChangePassword .loader-button:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Responsive adjustments */
@media (min-width: 1120px) {
    .ChangePassword {
        background-size: contain;
    }
}
