.Home {
  width: 100%;
  height: 92.5vh;
  background-image: url(image/backlan.gif);
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
  color: #333;
}

.Home .lander h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #092849;
}

.Home .lander p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #b5ce28;
}

.Home .notes {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #000000;
  background-color: rgba(62, 73, 224, 0.5);
}

.dark-mode .Home .notes {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 93%;
  padding: 50px;
  background-color: rgba(62, 73, 224, 0.5);
}

.Home .notes h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ffffff;
}

.Home .notes h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000000;
}

.Home .notes .list-group {
  margin-top: 20px;
  color: #333;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.notes-grid .list-group-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

@media (max-width: 1000px) {
  .notes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .notes-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

body.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}

body.dark-mode img:not([src*=".svg"]),
body.dark-mode video {
  filter: invert(1) hue-rotate(180deg);
}
