.Login {
  width: 100%;
  height: 96vh;
  background-image: url(image/run1.gif);
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 360px;
  padding: 20px;
  border: 1px solid rgba(31, 60, 225, 0.641);
    border-radius: 5px;
    background-color: rgba(49, 75, 225, 0.8);
}

.Login form input[type="email"],
.Login form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Login form button:disabled {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(202, 46, 93);
  color: rgb(0, 0, 0);
  cursor: pointer;
}



@media all and (min-width: 1180px) {
  .Login {
  width: 100%;
  height: 96vh;
  background-image: url(image/run.gif);
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: auto;
  }

  .Login form {
    margin: 60px 156px;
    max-width: 460px;
    padding: 30px;
    border: 1px solid rgba(31, 60, 225, 0.641);
    border-radius: 5px;
    background-color: rgba(49, 75, 225, 0.8);
  }
}

