.MarioGame {
  position: relative;
  width: 1110px;
  height: 400px;
  background-image: url("image/gameb.gif");
  background-size: cover;
  overflow: hidden;
}



.Mario {
  position: absolute;
  bottom: 150px;
  left: 100px;
  width: 90px;
  height: 90px;
  background-image: url("image/bird_transparent.png");
  background-size: contain;
}

.Obstacle {
  position: absolute;
  bottom: 2px;
  width: 100px;
  height: 100px;
  background-image: url("image/block.gif");
  background-size: contain;
  background-repeat: no-repeat;
  left: 800px;
}

.Instructions {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
  margin-left: 10px;
}

.PausePlayButton {
  align-items: center;
  background-color: #994caf;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.PausePlayButton:hover {
  background-color: #7a45a0;
}
