.NewNote {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px;
  color: #000000;
  background-color: #3e25cf;
}

.dark-mode .NewNote {
  color: #ffffff;
  background-color: #0b978e;
}
